
<!-- For Testing -->
<button class="btn-primary" (click)="addSampleWork()">Add Work</button>
  <!-- Main Container -->
  <div class="container my-5">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h3">Elenco dei Lavori</h1>
    </div>

    <!-- Works List -->
    <div class="row">
      <div *ngFor="let work of works" class="col-4 mb-3">
        <app-work (click)="selectWork(work)" [work]="work"></app-work>
      </div>
    </div>
      <!-- Add more cards dynamically -->
  </div>

<app-evaluate [work] = "selectedWork"></app-evaluate>
