<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <h1 class="navbar-brand" href="#">Regolamentare l'Intelligenza Artificiale</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <div class="d-flex align-items-center">
   
              <input type="text" class="form-control me-2" placeholder="Vote key" #userKey>
              <a class="nav-link active" aria-current="page" (click)="login(userKey)">Accedi</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center">
  <h1 *ngIf="!userName" class="mt-4">Accedi per Valutare</h1>
  <h1 *ngIf="userName" class="mt-4">Ciao {{userName}}</h1>
</div>
<!-- For Testing -->
  <!-- Main Container -->
  <div class="container mt-3">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h3">Elenco dei Lavori</h1>
      <button class="btn btn-success" (click)="addWork()">Aggiungi Lavoro</button>
    </div>

    <!-- Works List -->
    <div class="row">
      <div *ngFor="let work of works" (click)="selectWork(work)" class="col-6">
        <app-work [work]="work" [isSelected]="work === selectedWork" class="pointer"></app-work>
      </div>
    </div>
  </div>

<app-evaluate [work] = "selectedWork" [userKey]="voteKey" [loggedUser] = "loggedUser"></app-evaluate>
